*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #111;
    color: aliceblue;
    line-height: 1.6;
    padding: 20px;
}

#box1, #box2, #boxA{
    background-color: crimson;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

#boxB{
    background-color: rosybrown;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

#boxC{
    background-color: royalblue;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

h1{
    text-transform: capitalize;
}

.container{
    border: 1px solid #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page2{
    height: 100vh;
    width: 100vw;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page3{
    height: 100vh;
    width: 100vw;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 100px;
    border-radius: 16px;
    height: 100px;
    background-color: crimson;
}