*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#courser{
    width: 20px;
    height: 20px;
    background-color: goldenrod;
    position: fixed;
    border-radius: 50%;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#image{
    width: 600px;
    height: 300px;
    background-color: green;
    position: relative;
}

#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#image #overlay{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
}